version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xmlxsd_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    user: "www-data"
    networks:
      - laravel
    command: >
      sh -c "
        composer install --no-interaction --prefer-dist &&
        php artisan key:generate &&
        php artisan migrate --force &&
        php artisan queue:work --verbose --tries=3 --timeout=90 &
        php-fpm
      "

  nginx:
    image: nginx:latest
    container_name: xmlxsd_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: xmlxsd_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: xmlxsd
      MYSQL_USER: xmlxsd_user
      MYSQL_PASSWORD: xmlxsd_pass
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  dbdata:
